*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
}

#wrapper-div{
  width: 60%;
  min-height: 100px;
  /* background-color: gold; */
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

#logo-div{
  width: 100%;
  min-height: 40px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#main-div{
  width: 100%;
  min-height: 400px;
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#left-sidebar{
  flex-basis: 33%;
  background-color: lightgray;
  padding-left: 20px;
  padding-top: 20px;
}
#right-sidebar{
  flex-basis: 65%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header-div{
  min-height: 25%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body-div{
  min-height: 72%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-div{
  width: 100%;
  min-height: 40px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

