*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

.container-div{
  /* margin: 50px auto; */
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 10px;
}
.header-div{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #2556b8;
  display: grid;
  justify-content: center;
  align-content: center;
}
.nav-div{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #4d6aab;
  display: grid;
    justify-content: center;
    align-content: center;
}
.main-div{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #9ca4b5;
  display: grid;
    justify-content: center;
    align-content: center;
}
.side-div{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #4d6aab;
  display: grid;
    justify-content: center;
    align-content: center;
}
.footer-div{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #2556b8;
  display: grid;
    justify-content: center;
    align-content: center;
}