*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

.container-div{
  width: 500px;
  height: 550px;
  display: grid;
  grid-template-columns: 150px 350px;
  grid-template-rows: 60px 40px 110px 300px 40px;
  margin: 50px auto;
  gap: 8px;
}
.logo-div{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #c94444;
  display: grid;
  align-items: center;
  padding-left: 20px;
}
.nav-div{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #51c944;
  display: grid;
  justify-content: center;
  align-content: center;
}
.header-div{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #4477c9;
  display: grid;
    justify-content: center;
    align-content: center;
}
  .side-div{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #c94494;
    display: grid;
      justify-content: center;
      align-content: center;
  }
  .body-div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #0e99b1;
    display: grid;
      justify-content: center;
      align-content: center;
  }
  .footer-div{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #9b15fa;
    display: grid;
      justify-content: center;
      align-content: center;
  }


