*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

body{
  display: flex;
  flex-direction: column;

}


#wrapper-div{
 width:65%;
 /* background-color: aqua; */
 margin: auto;
 display: flex;
 flex-direction: column;
 margin-top: 50px;
}

#logo-div{
  width: 100%;
  background-color: lightgray;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;

}
#nav-div{
  width: 100%;
  background-color: lightgray;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}
#header-div{
  width: 100%;
  background-color: lightgray;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}
#main-div{
  width: 100%;
  /* background-color: rgb(31, 19, 199); */
  min-height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
#sidebar-div{
  flex-basis: 30%;
background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bodyarea-div{
  flex-basis: 67%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-div{
  width: 100%;
  min-height: 35px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

