p{
  color: red;
  /* direction: rtl; */
  text-transform: capitalize;
  /* text-indent: 50px; */
  /* text-shadow: 10px 10px 2px black; */
  /* text-decoration: line-through; */
  /* text-align: left;
  border: 1px solid black;
  font-size: 40px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  letter-spacing: 20px;
  word-spacing: 50px; */
  line-height: 20px;
}