*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
}
#wrapper-div{
  display: flex;
  flex-direction: column;
  width: 60%;
  /* background-color: aqua; */
  margin: auto;
}

#nav-div{
width: 100%;
min-height: 100px;
background-color: rgb(65, 137, 224);
display: flex;
justify-content: center;
align-items: center;
}

#main-div{
  width: 100%;
  min-height: 330px;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

#leftsidebar-div{
  flex-basis: 25%;
  background-color: rgb(129, 174, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-div{
  flex-basis: 46%;
  background-color: rgb(188, 188, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightsidebar-div{
  flex-basis: 25%;
  background-color: rgb(129, 174, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-div{
  width: 100%;
  min-height: 100px;
  background-color: rgb(65, 137, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}